<html lang="en">
   <head>
 	<title>My Python Web App</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='flip-card.css') }}">
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='login-form.css') }}">--->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
   </head>

   <body>
     <h2> My First Python Web App </h2>
       <div class="container p-3 my-3 <!--bg-primary--> d-flex justify-content-center align-middle">
	  <!-- <div class="col-lg-4 col-md-4 col-sm-4"> --->
                <div class="image-flip" ontouchstart="this.classList.toggle('hover'); text-center">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="/static/images/login_logo.jpeg" alt="card image"></p>
                                    <h4 class="card-title">LogIn</h4>
                                    <p class="card-text">Login Card Text</p>
                                    <!---  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>  --->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
				<div class="container p-3 my-3 <!---bg-primary---> d-flex justify-content-center align-middle">
                                <div class="card-body text-center">
				    <h4 class="card-title">LogIn</h4>
				     <p class="card-text">
				     <form action="" method="POST">
				          <div class="row justify-content-center pb-40">
            				     <input name="name" type="text" placeholder="Name">
          				  </div>
          				  <div class="row justify-content-center pb-20">
            				     <input name="password" type="text" placeholder="password">
          				      <p>Forgot your password? </p>
					  </div>
          				  <div class="row justify-content-center pb-20">
            					<input name="submit" type="submit" value="Sign In">
         				   </div>
        			     </form></p>
			        </div>
				</div>
                            </div>
			</div>

                    </div>
                </div>
           <!-- </div> --->
	 </div>
   </body>

</html>
